// http://ionicframework.com/docs/v2/theming/

img {	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	position: relative;
	left: 0;
	top: 0;
	&.big {
		transform: scale(1.8);
		-webkit-transform: scale(1.8);	
		margin: 25vmin 0;
	}
	&.left {
		left: -25vw;
	}
	&.right {
		left: 25vw;
	}
}

ion-card {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transform: scaleX(1.07);
	-webkit-transform: scaleX(1.07);
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
