<!--
  Generated template for the MyMapInner component.

  See https://angular.io/docs/ts/latest/api/core/index/ComponentMetadata-class.html
  for more info on Angular 2 Components.
-->

<div class="focus-circle"
  [ngStyle]="{'top': myTop+'px', 'left': myLeft+'px'}"
  [hidden]="!isStrong"
  (tap)="circleTapEvent($event)"
  (press)="pressEvent($event,n)"
  (pinch)="pinchEvent($event,n)"></div>
  <ion-list inset>
    <ion-card *ngFor = "let n of [0,1,2,3,4,5]; let i = index"
    (tap)="tapEvent($event,n)"
    (swipe)="swipeEvent($event,n)"
    (press)="pressEvent($event,n)">
      <ion-card-header>
        {{sectionTitles[i]}}
      </ion-card-header>
      <ion-card-content>
        <img [ngClass]="{'big': taps[n] == 1, 
                        'left': dirHs[n] == -1, 'right': dirHs[n] == 1}"
             [src]="dataDir + school + '/p' + n + '.jpg'"/>
      </ion-card-content>
    </ion-card>
 </ion-list>
